*{
    margin: 0;
    border: 0;
    padding: 0;
}

main{
    height: 120vh;
}

#noAccountYet span{
    cursor: pointer;
}
.logo{
    width: 50px;
    margin-left: 140px;
    margin-bottom: 20px;
}
h1{
    font-size: 10px;
    font-weight: bold;
    margin-left: 30px;
}
p{
    font-weight: lighter;
    font-size: 20px;
    color: gray;
    margin-left: 30px;
}
.inp1{
    color: orange;
    
}
h2{
    font-weight: bold;
    margin-left: 5px;
    color: orange;
}
.logo2{
    width: 100px;
    margin-left: 120px;
    margin-bottom: 20px;
}
.btn1{
    background-color: orange;
    color: white;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
}
.btn2{
    background-color: blue;
    color: white;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
}
.btn3{
    color: orange;
}
.btn4{
    color: orange;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: larger;
}